 .header {
     height: 60px;
     display:flex;
     flex-wrap:wrap;
     align-items:center;
     background-color:#00d2d3;
     position:sticky;
     top:0;
     z-index:100;
    }
 .header__logo {
     width:100px;
     object-fit: contain;
     margin:8px 50px;
     
    }
 .header__search{
     display:flex;
     flex:1;
     padding: 15px;
     align-items: center;
     border-radius: 24px;
    
 }
 .header__searchInput{
     height:12px;
     padding: 15px;
     border:none;
     width:50%;
     border-radius: 20px;
     margin-right:10px;
 }
 .header__searchIcon{
     background-color: white;
     border:none;
     padding:5px;
     height:22px !important;
     border-radius: 20px;
 }
 .header__nav{
     display:flex;
     justify-content:space-evenly;
        text-decoration: none;
 }
 .header__nav a {
     text-decoration: none;
 }
 .header__option{
     display: flex;
     flex-direction:column;
     margin-left: 10px;
     margin-right:10px;
     color:white;
    
    
 }
 
 .header__optionLineOne{
     font-size:13px;
     font-weight:500;
     
 }

 .header__optionLineTwo {
     font-size: 20px;
     font-weight: 800;
     align-items: center;
 }
 .header__optionBasket {
     display:flex;
     align-items:center;
     color:white;
 }
 .header__basketCount{
     margin-right: 10px;
     margin-left:10px;
 }